variables:
  PULUMI_ORG: "workshop-20250930"

publish_templates:
  id_tokens:
    OIDC_TOKEN:
      aud: "urn:pulumi:org:$PULUMI_ORG"
  image: 
    name: "python:3.12"
  script:
    - apt-get update -y && apt-get install jq -y
    - >
      export PULUMI_ACCESS_TOKEN=$(curl -s -X POST  
      -H 'Content-Type: application/x-www-form-urlencoded'  
      -d 'audience=urn:pulumi:org:workshop-20250930' 
      -d 'grant_type=urn:ietf:params:oauth:grant-type:token-exchange' 
      -d 'subject_token_type=urn:ietf:params:oauth:token-type:id_token' 
      -d 'requested_token_type=urn:pulumi:token-type:access_token:organization' 
      -d "subject_token=$OIDC_TOKEN"
      https://api.pulumi.com/api/oauth/token | jq -r '.access_token')
    - curl -fsSL https://get.pulumi.com | sh
    - export PATH="$PATH:/root/.pulumi/bin"
    - pulumi login
    - echo "Version to publish $CI_COMMIT_TAG"
    - pulumi package publish $CI_PROJECT_URL@$CI_COMMIT_TAG 
  rules:
    - if: $CI_COMMIT_TAG